<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-left">{{ usuario.username }} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
    <ion-button class="ion-margin-top" fill="solid" expand="block" (click)="seguir()">Seguir</ion-button>
  
    <ion-list>
      <ion-item button *ngFor="let evento of eventos">
        <ion-label>
          <ion-grid>
            <ion-row>
              <ion-col>
                <h2>{{ evento.titulo }}</h2>
              </ion-col>
              <ion-col>
                <p>{{ evento.comeco | date: short}}</p>
              </ion-col>
            </ion-row>
          </ion-grid>
          <h4>{{ evento.descricao }}</h4>
        </ion-label>
      </ion-item>
    </ion-list>
</ion-content>