<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      @ {{ usuario.username }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="divTop">
    <ion-grid>
      <ion-row>
        <ion-col class="ion-text-center">2 eventos</ion-col>
        <ion-col class="ion-text-center">10 seguindo</ion-col>
      </ion-row>
    </ion-grid>
    <ion-button class="ion-margin-top" fill="solid" expand="block" (click)="logout()">Configurações
    </ion-button>
  </div>

</ion-content>
